/* Background Gradient Animation */
body {
	width: 100wh;
	height: 90vh;
	color: #fff;
	background: linear-gradient(-45deg, rgb(59, 62, 63), rgb(121, 136, 156), rgb(74, 81, 139), rgb(61, 74, 189));
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
    font-family: Arial, Helvetica, sans-serif;
}
@-webkit-keyframes Gradient {
	0% {background-position: 0% 50%}
	50% {background-position: 100% 50%}
	100% {background-position: 0% 50%}
}
@-moz-keyframes Gradient {
	0% {background-position: 0% 50%}
	50% {background-position: 100% 50%}
	100% {background-position: 0% 50%}
}
@keyframes Gradient {
    0% {background-position: 0% 50%}
	50% {background-position: 100% 50%}
	100% {background-position: 0% 50%}
}


/* Conatiner (Wrapper) */
.container {
    max-width: 960px;
    margin: 5% 10% 5% 10%;
    /* padding: 45% 40% 45% 40%;     */
    align-content: space-around;
    background-color: rgba(0, 0, 0, 0.418);
    border: solid 2px black;
    border-radius: 15px;
}

h1 {
    font-weight: bold;
    font-size: 34px;
    color: rgb(189, 189, 189);
    margin: .5em 0 1em 1em;

}
/* First frame/ Start Button */
#start {
}
#startButton {
    margin: 1em 40% 3em 40%;
    padding: .5em 1em .5em 1em;
    background-color: rgb(34, 54, 92);
    color: rgb(175, 175, 175);
    border: solid 1.2px black;
    border-radius: 5px;   
}
#startButton:hover {
    cursor: pointer;
    background-color: rgb(53, 85, 143);
    color: rgb(238, 237, 237);
    animation: shake 0.42s;
    animation-iteration-count: infinite;
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

#info {
    margin: 1em 4em 1em 4em;
    padding: 1em;
    color: rgb(211, 211, 211)
}
#question {
    font-size: 20px;
    line-height: 30px;
    margin-top: 1em
}
.form-check {
    font-size: 16px;
    line-height: 24px;
    margin: .15em 0 .3em 0
}
#timer {
    margin-bottom: 2em
}
.lowTime {
    color: rgb(252, 168, 168);
}
.lowerTime {
    color: rgb(250, 107, 107);
    animation: lowShake 1.5s;
    animation-iteration-count: infinite;
}
@keyframes lowShake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
.veryLowTime {
    color: rgb(255, 110, 110);
    animation: lowerShake 1s;
    animation-iteration-count: infinite;
}
@keyframes lowerShake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

#done-button {
    margin-top: 1em;
    padding: .5em 1em .5em 1em;
    background-color: rgb(34, 54, 92);
    color: rgb(175, 175, 175);
    border: solid 1.2px black;
    border-radius: 5px;   
}
#done-button:hover {
    cursor: pointer;
    background-color: rgb(53, 85, 143);
    color: rgb(238, 237, 237);
}

#results {
    margin: 2em 2em 2em 2em;
    font-size: 22px;
}
#tryAgain {
    margin-top: 1em;
    padding: .5em 1em .5em 1em;
    background-color: rgb(34, 54, 92);
    color: rgb(175, 175, 175);
    border: solid 1.2px black;
    border-radius: 5px;   
}
#tryAgain:hover {
    cursor: pointer;
    background-color: rgb(53, 85, 143);
    color: rgb(238, 237, 237);
}